.header {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid black;
}

.main {
	margin-left: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.folderList {
	width: 20%;
	height: 80vh;
}

.noteList {
	width: 70%;
	height: 80vh;
	padding-left: 20px;
	border-left: 2px solid black;
	overflow-y: scroll;
}

a .folder {
	margin-bottom: 10px;
	color: black;
	text-decoration: none;
	padding: 1rem 1rem;
	background-color: #eee;
}

a .folder:hover {
	background-color: aqua;
}
.active .folder {
	background-color: aqua;
}

a {
	text-decoration: none;
	color: black;
}
